.header{
    display: flex;
    flex-direction: column;
 
}
.header a{
    padding: 5px;
    width: 200px;
    margin-top: 5px;
    border: 1px solid grey;
    /* border-radius: 5px; */
    text-decoration: none;
 
    text-align: center;
}

.selected{
    color: white;
    background-color: blue;
}
.container{
    width: 90vw;
    height: 90vh;
    gap: 100px;
    display: flex;
    margin: 20px;
   
}
.msg{
    margin-left: 100px;
    font-style: italic;
    font-weight: bold;
}