<div class="container">
    <div class="img">
        <img src="https://cdn.pixabay.com/photo/2015/12/04/14/05/code-1076536__340.jpg" alt="">
    </div>
    <div class="content">
        <h1>Jitu University</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Autem odit totam saepe placeat eum quod asperiores praesentium.
             Dolorem porro odio quod quam officia cumque quaerat assumenda rem, neque, quos nemo a repudiandae 
            amet ipsum itaque alias esse maiores doloremque delectus consequuntur dolorum qui. Voluptas doloribus 
            labore quidem esse architecto. Facilis?
        </p>
    </div>
</div>

<app-footer></app-footer>
